<div class="app-dashboard shrink-medium">
    <div class="row expanded app-dashboard-top-nav-bar">
        <div class="columns medium-2">
            <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
            <a class="app-dashboard-logo"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2014/png/iconmonstr-binoculars-7.png&r=196&g=187&b=192" class="" height="40" width="40" alt="Search"></a>
            
        </div>
        <div class="columns show-for-medium">
            <div class="app-dashboard-search-bar-container">
                <input class="app-dashboard-search" type="search" placeholder="Search" id="search">
                {{!-- <button type="submit" class="primary button expanded search-button"></button> --}}
                <i class="app-dashboard-search-icon fa fa-search"></i>
            </div>
        </div>
    </div>

    <div class="app-dashboard-body off-canvas-wrapper">
        <div id="app-dashboard-sidebar"
            class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium"
            data-off-canvas>
            <div class="app-dashboard-sidebar-title-area">
                <div class="app-dashboard-close-sidebar">
                    <h3 class="app-dashboard-sidebar-block-title">Saved Stocks</h3>
                    <!-- Close button -->
                    <button id="close-sidebar" data-app-dashboard-toggle-shrink
                        class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu"
                        type="button">
                        <span aria-hidden="true"><a href="#"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2017/png/iconmonstr-arrow-64.png&r=0&g=0&b=0" class="" height="40" width="40"></span>
                    </button>
                </div>
                <div class="app-dashboard-open-sidebar">
                    <button id="open-sidebar" data-app-dashboard-toggle-shrink
                        class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu" type="button">
                        <span aria-hidden="true"><a href="#"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-arrow-25.png&r=0&g=0&b=0" class="" height="40" width="40"></span>
                    </button>
                </div>
            </div>
            <div class="app-dashboard-sidebar-inner">
                <ul class="menu vertical">
                    <!--  
                    <li><a href="#" class="is-active">
                            <i class="large fa fa-institution"></i><span
                                class="app-dashboard-sidebar-text">{{Name}}</span>
                        </a></li>
                    -->

                {{#each searches as |search|}}
                    <li><a href="#" class="is-active">
                            <i class="large fa fa-institution"></i><span
                                class="app-dashboard-sidebar-text">{{text}}</span>
                        </a></li>
                        {{/each}}
                    <li><a>
                            <i class="large fa fa-industry"></i><span class="app-dashboard-sidebar-text">Industry</span>
                        </a></li>
                    <li><a href="#" class="is-active">
                            <i class="large fa fa-institution"></i><span
                                class="app-dashboard-sidebar-text">Buildings</span>
                        </a></li>
                    <li><a>
                            <i class="large fa fa-industry"></i><span class="app-dashboard-sidebar-text">Industry</span>
                        </a></li>
                    <li><a href="#" class="is-active">
                            <i class="large fa fa-institution"></i><span
                                class="app-dashboard-sidebar-text">Buildings</span>
                        </a></li>
                    <li><a>
                            <i class="large fa fa-industry"></i><span class="app-dashboard-sidebar-text">Industry</span>
                        </a></li>
                </ul>
            </div>
        </div>

        <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
            <h2 class="text-center">{{name}}'s Dashboard</h2>

            <div class="card-info success">
                <div class="card-info-label">
                    <div class="card-info-label-text">
                        UP 
                    </div>
                </div>
                <div class="card-info-content">
                    <h3 class="lead"> Tesla</h3>
                    <p>Description</p>
                </div>
            </div>

            <div class="card-info primary">
                <div class="card-info-label">
                    <div class="card-info-label-text">
                        Blue
                    </div>
                </div>
                <div class="card-info-content">
                    <h3 class="lead">Star Wars: Episode VII - The Force Awakens</h3>
                    <p>A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI -
                        Return of the Jedi.</p>
                </div>
            </div>
            <div class="card-info alert">
                <div class="card-info-label">
                    <div class="card-info-label-text">
                        Stop
                    </div>
                </div>
                <div class="card-info-content">
                    <h3 class="lead"> Poltergeist</h3>
                    <p>A family's suburban home is invaded by evil forces.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>