<div class="large-article-header">
  <div class="large-article-header-content">
    <div class="center-container">
      <div class="article-date">
        <p>Published on March 24, 2021</p>
      </div>
      <div class="article-title">
        <h1>New to Bitcoin? Here is a timeline of important events for the legendary cryptocurrency!</h1>
      </div>
      <div class="article-details">
        <div class="article-author">
          <img src="https://unsplash.it/50/50?image=1005" alt="" />
          <a href="#"></a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="timeline">

  <div class="timeline-item">
    <div class="timeline-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill-rule="evenodd" clip-rule="evenodd"><path d="M9 21h-9v-2h9v2zm6.695-2.88l-3.314-3.13-1.381 1.47 4.699 4.54 8.301-8.441-1.384-1.439-6.921 7zm-6.695-1.144h-9v-2h9v2zm8-3.976h-17v-2h17v2zm7-4h-24v-2h24v2zm0-4h-24v-2h24v2z"/></svg>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">2009</h2>
      <p>Satoshi Nakamoto and Hal Finney launched Bitcoin. Nakamoto mined the the first set of Bitcoin.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
       <img src="https://cdns.iconmonstr.com/wp-content/assets/preview/2017/96/iconmonstr-fast-food-10.png" class="" height="21" width="21" alt="pizza">
      
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">2010</h2>
      <p>The first items was bought with Bitcoin. Laszlo Hanyecz bought 2 pizzas for 10,000 bitcoins. That is over $558 million USD in today's value! </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
       <img src="https://cdns.iconmonstr.com/wp-content/assets/preview/2013/240/iconmonstr-banknote-5.png" class="" height="25" width="25" alt="dollar">
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">2011</h2>
      <p>
       The value of one bitcoin finally reached $1 USD.
      </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
       <img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-coin-10.png&r=0&g=0&b=0" class="" height="21" width="21" alt="money">
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">2013</h2>
      <p>
        Bitcoin gained media attention for its massive value increase during the month of February. The price of a bitcoin jumped from $5 to $22. By November of that year, The valuation of a Bitcoin was at $1213. This lead to a bubble that bursted that dropped Bitcoin to $600 for a short period of time.
      </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill-rule="evenodd" clip-rule="evenodd"><path d="M7.467 0c1.102.018 5.555 2.549 6.386 8.558.905-.889 1.409-3.664 1.147-4.843 3.952 2.969 6 6.781 6 11.034 0 5.094-3.43 9.251-8.963 9.251-5.728 0-9.037-3.753-9.037-8.276 0-6.26 5.052-7.62 4.467-15.724zm3.262 19.743c-.749.848-.368 1.945.763 2.045 1.035.093 1.759-.812 2.032-1.792.273-.978.09-2.02-.369-2.893-.998 1.515-1.52 1.64-2.426 2.64zm4.42 1.608c2.49-1.146 3.852-3.683 3.852-6.58 0-2.358-.94-4.977-2.5-7.04-.743 2.867-2.924 3.978-4.501 4.269.05-3.219-.318-6.153-2.602-8.438-.296 4.732-4.321 7.63-4.398 12.114-.029 1.511.514 3.203 1.73 4.415.491.489 1.054.871 1.664 1.16-.121-.608-.062-1.254.195-1.848.911-2.106 3.333-2.321 4.202-5.754.952.749 3.275 3.503 2.778 6.358-.082.469-.224.923-.42 1.344z"/></svg>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">2014 </p>
      <p>This year had many downs for the currency. China bans the cryptocurrency and the largest cryto exchange declares bankruptcy and shuts down.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <img src="https://cdns.iconmonstr.com/wp-content/assets/preview/2018/240/iconmonstr-boxing-2.png" class="" height="25" width="25" alt="fight">
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">2015 </p>
      <p>Vitalik Buterin creates competition to Bitcoin with the new currency known as Ethereum.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-coin-10.png&r=0&g=0&b=0" class="" height="21" width="21" alt="money">
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">2017-2018 </p>
      <p>The biggest of bubbles occured on December of 2017. One coin was worth $19,787 USD. Quick after the crypto dropped to $3000.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <img src="https://cdns.iconmonstr.com/wp-content/assets/preview/2013/240/iconmonstr-virus-12.png" class="" height="25" width="25" alt="covid">
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">2020 </p>
      <p>How does a cryptocurrency fare against Covid-19. The currency was valued at $10,000 before the pandemic. The currency dropped to $3,800 then made a massive return. Current valuation is $55,827.70 USD.</p>
    </div>
  </div>


</div>

