
<div class="hero-section">



<div class="translucent-form-overlay">
  <form>
    <h3>Sign up</h3>
    <div class="row columns">
      <label>User Name
        <input type="text" name="username" placeholder="Enter Name Here">
      </label>
    </div>
    <div class="row columns">
      <label>Password
        <input type="text" name="password" placeholder="Enter Password Here">
      </label>
    </div>
    
    <button type="button" class="primary button expanded search-button">
      Sign up
    </button>
 </form>
</div> 


<script src="./js/login.js"></script>
