
<div class="hero-section">



<div class="translucent-form-overlay">
  <form>
    <h3>Sign up</h3>
    <div class="row columns">
      <label>User Name
        <input type="text" name="username" placeholder="Enter Name Here" id="name-signup">
      </label>
    </div>
     <div class="row columns">
      <label>Email
        <input type="email" name="email" placeholder="Enter Email Here" id="email-signup">
      </label>
    </div>
    <div class="row columns">
      <label>Password
        <input type="password" name="password" placeholder="Enter Password Here" id="password-signup">
      </label>
    </div>
    
    <button type="button" class="primary button expanded search-button">
      Sign up
    </button>
 </form>
</div> 

<div class="translucent-form-overlay">
  <form>
    <h3>Sign in</h3>
     <div class="row columns">
      <label>Email
        <input type="email" name="email" placeholder="Enter Email Here" id="email-signin">
      </label>
    </div>
    <div class="row columns">
      <label>Password
        <input type="password" name="password" placeholder="Enter Password Here" id="password-signin">
      </label>
    </div>
    
    <button type="button" class="primary button expanded search-button">
      Sign in
    </button>
 </form>
</div> 


<script src="./js/login.js"></script>
